input[type=text] {
    border: 2px solid #000000;
    font-size:20px; 
}

input[type=password] {
    border: 2px solid #000000;
    font-size:20px; 
}



input[type=submit] {
    display: inline-block;
    padding: 5px 40px;
    text-decoration: none;
    font-weight:bold;
    background:#ffd700 ;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

input[type=submit]:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}




input[type=reset] {
    font-weight:bold;
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
    background: #fe0538;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
    
input[type=reset]:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}





input[type=button] {
    font-weight:bold;
    display: inline-block;
    padding: 5px 40px;
    text-decoration: none;
    background: #33cc00;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
input[type=button]:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}



button.button1 {
  width: 240px;
  height: 240px;
  font-size: 34px;
  border:12px solid #fe0538;
  background-color: #fe0538;
  color: #fff;
  transition: .6s all;
}

button.button1:hover{
    border:3px solid #fe0538;
  background-color: rgba(147,162,0,.0);
  color:#fe0538;
}


button.button2 {
  width: 240px;
  height: 240px;
  font-size: 34px;
  border:12px solid #33cc00;
  background-color: #33cc00;
  color: #fff;
  transition: .6s all;
}

button.button2:hover{
    border:3px solid #33cc00;
  background-color: rgba(147,162,0,.0);
  color:  #33cc00;
}